@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

body, html{
  height: 100%;
}
/* fonts */
h1{
  font-family: strait;
}
h2{
  font-family: "Francois One", sans-serif;
  font-size: 50px;
  color: black;
  text-align: left;
}
h3{
  font-family: "Francois One", sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}
h6{
  font-family: "Abel";
  font-size: 20px;
  color: gray;
  text-align: center;
  padding-top: 18px;
}
p{
  font-size: 18px;
  font-family: "Abel";
}

header nav{
  display: flex;
  justify-content: flex-end;
}

/* menu icon */
.menuicon{
  margin: 0 15px 15px 0;
  z-index:1;
  right:0;
  bottom:0;
  position: fixed;
  cursor: pointer;
}
/* sticky footer */
.sidenav{
  width: 0;
  position: fixed;
  z-index:1;
  right:0;
  bottom:0;
  background-color: #776e5f;
  overflow-x: hidden;
  padding: 10px 0;
  margin: 0 10px 10px 0;
  transition: 0.5s;
}
.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-family: "Abel";
  transition: 0.3s'
}
.sidenav a:hover{
  color: #ffcc00;
}
.sidenav .closebtn{
  position: absolute;
  font-size: 20px;
  right: 5px;
  bottom: 5px;
}

.parallax{
  height:100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.down a{
  position: absolute;
  text-decoration: none;
  left: 47%;
  font-size: 70px;
  bottom: 0;
  color: yellow;
}

/*for menu*/
header p, a{
  padding: 20px;
}

section .row{
  padding-top: 10px;
}

section .row p{
  font-size: 18px;
  font-family: "Abel";
  text-align: center;
}

svg text {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  fill: #ffee00;
  text-shadow: -1px 0 #f7962e, 0 1px #f7962e, 1px 0 #f7962e, 0 -1px #f7962e, 0 3px #f7962e;
}

.menubut{
  object-fit: none;
  width: 1200px;
  height: 200px;
  background: center;
  background-size: cover;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity:0;
  transition: .5s ease;
  background-image: url("https://lh3.googleusercontent.com/vWOK1VsJzI4aiLVthsQzZY4kg8_6JqbMoBUlmVgJ1lTMbj83qO8HNwbtzPDQJ67Pw3xepPxGDL4ZEzyGcCnrrZIMbCnJlIo7AWoGrzztnc7748rnHyOitKxtnlAyrLUZO6l7r2HpBAh7tiYDAhI8houwgcMFPLvrCk3BWNcEYKKXzmSCIBRznRPJEwpR69jDfqPIYrBvIBsE00yC4PX9l4V65RkHL9NFJtGJSZnorBQ31s7unvaRVClWdBNMbYUaZcQBCChdGy1E3hQNNOoNmsEEzQgCF2-pfirW23Kej_KYf9Kqf7HRJauhR9WRoy3eR9Bcgk52xYDHi7wcNOjaxZ8BSS3lHLe6Xd9m1WwJu7rAZEbZByqbzPyNf3vx_hFVVOll_gugY5gIuWK-G3YT4zTMkgLKpDmc_OaFj7BH_keRtBHbJeqZyIfdKrA9nV6PNHihX5yg3Q2KjP8jQvrel0D6o9W-ylaRG3MENyO8BlSra0a2mG3cqHh4zgCIUdnmGUJpb0CI7snR8kZR3DqDDZhaGi-NJVnSSa2MSOr52SR9xVJLemluAXIdEqxoXH8jWDP_Nf9AtPHNDpEu9LwCxpdQDqQsMWArgYuqqmk=w712-h949-no");
}
figure:hover .overlay{
  opacity:1;
}
.centered{
  background-position: center center;
}

.tag{
  color: white;
  background-color: #ffcc00;
  padding: 2px 8px;
  margin: 1px 7px 5px 0px;
  font-size: 15px;
  font-family: "Abel";
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

/* footer */
footer .container img, footer .container a{
  display: inline-block;
  padding-right: 5px;
  height: auto;
  width:50px;
  margin-bottom:10px;
}
footer .container img:hover{
  -webkit-filter : brightness(60%) sepia(50%) hue-rotate(11deg) saturate(20);
  filter: brightness(60%) sepia(50%) hue-rotate(11deg) saturate(20);
}
footer{
  background-color: #282827;
  margin-top: 20px;
  padding: 30px 0 50px;
  text-align: center;
}
footer .container p{
  color: #ffcc00;
}
